 body {
  margin:0px;
  height: 100%;
}

.leftPanel{
  min-height: 100%;
  max-width: 59px;
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}
.leftPanelIcon{
  padding-top: 10px;
}


.maindiv{
  display: flex;
  height: 100%;
  width:100%;
  box-sizing: border-box;
}

.content{
  top: 0px;
  bottom:0;
  left:60px;
  right:0;
  height: 100%;
  width: 100%;
}

.navbar{
  height: 50px;
  background-color:white;
  display: flex;
  position: relative;
}

.navbtn {
  padding: 15px 50px 50px 250px;
}
.flag{
  height: 20px;
  width: 20px;
  float:left;
  padding: 0px 5px 5px 15px
}
.user-content{
  right:0px;
  position: absolute;
  height: 100%;
  width:500px;
  display:flex;
}
.user-content p img {
  padding: 0px 10px 50px 25px;
}

.user-language{
  height:100%;
  width: 170px;
}

.enbtn{
  height:100%;
  background-color:white;
  box-sizing: border-box;
  border:#e1e1e1;
  font-family:"Tahoma";
  padding-top: 2px;
}

.user-account{
  width:400px;
  max-width: 100%;
  font-family:"Tahoma";
  font-size: 15px;
}

.user-account p{
  margin: 0;
  padding-left: 15px;
  display: flex;
}
.user-account p img {
  padding: 0px 7px 20px 70px;
}
.userPhoto{
  float: left;
}

.dashboard-navbar{
  position: relative;
  height: 50px;
  background-color: #ececec;
  display:flex;
  width: 100%;

}
.dashboard-navbar-item{
  height: 100%;
  width: 100%;
  font-family:"Tahoma";
  padding: 15px;
  box-sizing:border-box;
  background-color:#ececec;
}
.favourites-button{
  position: center;
  right: 105px;
  height: 100%; 
  color: #878686;
  font-weight: bold;
  font-family:"Tahoma";
  width: 30%;
  background-color: #d8d8d8;
  cursor: pointer;
}

.favourites-button span {
  font-size: 13px;
  color:#868787;
  display:block;
  float:center;
  margin:13px 10px 0 0;
  padding:5px 30px 10px 57px
}

.financial-information{
  text-align: center;
  height: 160px;
  width: 100%;
  display: flex;
  
}
.signups{
  height: 100%;
  width: 100%;
}

.signups h1{
  color: #00acac;
}
.signups span {
  color:#00acac;
}

.profit{
  height: 100%;
  width: 100%;
  
}

.profit h1{
  color:#1f7bb6;
}

.comissions{
  height: 100%;
  width: 100%;
 
}

.comissions h1{
  color:#fbcf71;
}

.pending-comission{
  height: 100%;
  width: 100%;
  
}

.pending-comission h1{
  color: #00acac;
}
.financial-information h1{
  font-family: Tahoma;
  font-weight: bold;
  line-height: 24px;
  font-size: 50px;
}

.financial-information h4{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  line-height: 24px;
  font-size: 15px;
}


.statistics{
  display: flex;
  height: 560px;
  width: 100%;
  background-color: #2a2a2a;
  
}
.medias-stats{
  width: 400px;
  width: 100%;
  
}

.active-medias{
  max-width: 350px;
  width: 100%;
  background-color: #212121;
  
}

.geographic-data{
  width: 100%;
  
}

.statistic-lists{
  display: flex;
  height:100%;
 
}

.top-affiliates{
  width: 100%;
}

.list-header{
  height:50px;
  width: 100%;
  background-color: #353535;
  border-right: 1px solid #d4d4d4;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  padding: 15px 0px 10px 17px;

}
.list-main{
  height: 100%;
  width: 100%;
  
}

.list-child-header{
  height: 30px;
  
}

.list-signups{
  width: 100%;
 
}


.list-pending-comissions{
  width: 100%;
  
}

.background {
  width: 100%;
  align-items:center;
}


.button{
  cursor:pointer;
  background-color: transparent;
  border: none;
  display:flex;
  padding: 35px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

.lowerButtons{
  height: 100%;
  background-color:#171717;
}

.mainButtons{
  background-color:#222222;
}

.list-table-header{
  height: 15px;
}
.list-table td, th {
  padding: 8px;
}

.list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  border-bottom: 2px solid #d4d4d4;
}

.list-table tr{
  border-bottom: 1px solid #d4d4d4;
}

.viewImg{
  width:15px;
  height: 15px;
  margin: 3px 20px 3px 4px;
}

.list-table table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-left: 1px solid #d4d4d4;
}

.statistics-header{
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:white;
  box-sizing: border-box;
  padding: 15px 0px 10px 17px;
}

.statistics-header .fifty {
  padding: 141px;
  margin: 9px 60px 0px 2px;
}
.statistics-header-info{
  float: right;
  font-size: 16px;
  margin-right: 8px;
  color: #ffffff;
  font-weight: 300;
  font-family: system-ui;
}
.geographic-data-footer .country {
  color: white; 
  font-weight: 310;
  padding-left: 10px;
  padding-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.geographic-data-footer .numtd {
  color: white; 
  font-weight: 310;
  padding-left: 350px;
  padding-top:25px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.geographic-data-footer-header{
  color:white;
  font-weight: 310;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 10px;
  height: 50px;
  text-align: right;
  width: 100%;
  border: 1px solid #262626;
}

.medias-stats-content {
  background: transparent;

}
.medias-stats-footer{
  display: inline-block;
  color: white; 
  font-weight: 310;
  padding-top: 100px;
  padding-left: 250px;
  
  font-family: Arial, Helvetica, sans-serif;
}

.medias-stats-content canvas {
  padding: 90px 0px 0px 0px;
  
}

.active-medias-footer td{
  color: white; 
  font-weight: 310;
  padding: 25px 40px 0px 65px;
  font-family: Arial, Helvetica, sans-serif;
}

.financial-information-content{
  display: flex;
}